<mat-card class="incident-card">
    <table mat-table [dataSource]="incidents">
        <ng-container matColumnDef="Subject">
            <th mat-header-cell *matHeaderCellDef> Subject </th>
            <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
          </ng-container>
          <ng-container matColumnDef="Sender">
            <th mat-header-cell *matHeaderCellDef> Sender </th>
            <td mat-cell *matCellDef="let element"> {{element.sender}} </td>
          </ng-container>
          <ng-container matColumnDef="Details">
            <th mat-header-cell *matHeaderCellDef> Details </th>
            <td mat-cell *matCellDef="let element"> {{element.details}} </td>
          </ng-container>
          <ng-container matColumnDef="Date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.send_date.toDate() | date}} </td>
          </ng-container>
          <ng-container matColumnDef="Votes">
            <th mat-header-cell *matHeaderCellDef> Votes </th>
            <td mat-cell *matCellDef="let element"> {{element.votes}} </td>
          </ng-container>
          <ng-container matColumnDef="Upvote">
            <th mat-header-cell *matHeaderCellDef> </th>
            <button mat-mini-fab mat-cell *matCellDef="let element" (click)="upvote(element.id, element.votes)">+</button>
          </ng-container>
          <ng-container matColumnDef="Downvote">
            <th mat-header-cell *matHeaderCellDef> </th>
            <button mat-mini-fab mat-cell *matCellDef="let element" (click)="downvote(element.id, element.votes)">-</button>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</mat-card>