<h1 mat-dialog-title>Submit Phishing Email</h1>
<div mat-dialog-content>
    <form [formGroup]="incidentForm">
        <div class="top-row">
            <mat-form-field class="formField" floatLabel="never">
                <p id="label">Subject</p>
                <input matInput formControlName="subject">
            </mat-form-field>
        
            <mat-form-field class="formField" floatLabel="never">
                <p id="label">Sender</p>
                <input matInput formControlName="sender">
            </mat-form-field>

            <mat-form-field class="formField" floatLabel="never">
                <p id="label">Date</p>
                <input matInput [matDatepicker]="picker" formControlName="send_date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    
        <mat-form-field class="formField" floatLabel="never">
            <p id="label">Details</p>
            <textarea matInput formControlName="details"></textarea>
        </mat-form-field>
    
    </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button color="primary" (click)="onSubmit()" [disabled]="!incidentForm.valid">Submit</button>
</div>