/* You can add global styles to this file, and also import other style files */

html, body { height: 100% ;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;background-image:url('/Users/a3506/Documents/GitHub/TroyHack2020/TroyHack2020/src/assets/backgrnd.png');background-color: #9a1a1a;}
